

.footer {
  display: flex;
  flex-direction: row;
    justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  gap: 25px;
}

.footer-text {
  color: #fff;
  font-size: 11px;
  line-height: 14px;
}
